<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.nemodev.project.quotes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".app.AndroidApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/ic_launcher_round"
        android:roundIcon="@drawable/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ru.nemodev.project.quotes.ui.main.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <receiver android:name=".widget.QuoteWidgetProvider"
            android:icon="@drawable/ic_launcher_round"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/quote_widget_info" />
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ads_app_id"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b084a5fe6f1774820fee9a78dd1fdef5101fff2d" />

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

</manifest>